*/target/*
*.iml
*.ipr
*.iws
choco.iws~
parser/src/fzn/choco.jar
parser/src/fzn/fzn_choco
*.jar
parser/src/lib/*
*.DS_Store
*/dependency-reduced-pom.xml

choco-parser/src/main/resources/mysql.properties
choco-solver/src/test/resources/logback-test

choco-parser/src/chocofzn/fzn_choco.sh
