<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd_HHmmss"/>

    <logger name="choco" level="WARN"/>
    <logger name="choco.util" level="INFO"/>
    <logger name="bench" level="info"/>
    <logger name="solver" level="info"/>
    <logger name="explainer" level="info"/>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>