<configuration debug = "false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd_HHmmss"/>

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>GALAK.LOG</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="choco" level="WARN"/>
    <logger name="choco.common.util" level="INFO"/>


    <logger name="bench" level="error"/>

    <logger name="solver" level="info"/>

    <logger name="fzn" level="info"/>
    <logger name="explainer" level="error"/>

    <root level="error">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>