<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd_HHmmss"/>

    <logger name="test" level="info"/>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>