<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Propagation" verbose="1" >
  <test name="NQueen" >
    <classes>
        <class name="samples.nqueen.NQueenTestFactory" />
        <class name="choco.propagation.proba.nqueen.NQueenTestFactory" />
    </classes>
  </test>
</suite>
