name: Codacy Analysis CLI

on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * 0'

jobs:
  codacy-analysis-cli:
    name: Codacy Analysis CLI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@3.0.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          upload: true
          max-allowed-issues: 2147483647