# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-solver:
    runs-on: ubuntu-latest
    # Tests matrix
    strategy:
      #fail-fast: false
      matrix:
        group: [ "1s", "10s", "checker", "ibex" ]

    # The different steps
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          #cache: 'maven'

      # Install Ibex
      - name: Install Ibex
        if: matrix.group == 'ibex'
        run: sh scripts/install-ibex.sh

      # Regression tests
      - name: Test ${{ matrix.group }}
        run: mvn -B --file pom.xml package -Pcoverage -DtestFailureIgnore=true -Dgroups=${{ matrix.group }}
  test-parser:
    needs: [ test-solver ]
    runs-on: ubuntu-latest
    # Tests matrix
    strategy:
      #fail-fast: false
      matrix:
        group: [ "xcsp", "dimacs", "mps" ]

    # The different steps
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          #cache: 'maven'

      # Regression tests
      - name: Test ${{ matrix.group }}
        run: mvn -B --file pom.xml package -Pcoverage -DtestFailureIgnore=true -Dgroups=${{ matrix.group }}

      - name: 'Upload XCSP results'
        if: matrix.group == 'xcsp'
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: ~/parsers/target/xcsp_results.csv

  test-mzn:
    needs: [ test-solver ]
    runs-on: ubuntu-latest
    # Tests matrix
    strategy:
      #fail-fast: false
      matrix:
        group: [ "mzn" ]

    # The different steps
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          #cache: 'maven'

      # Regression tests
      - name: Test ${{ matrix.group }}
        run: mvn -B --file pom.xml package -Pcoverage -DtestFailureIgnore=true -Dgroups=${{ matrix.group }}

      - name: 'Upload MZN results'
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: ~/parsers/target/mzn_results.csv
